/*
 * dts file for lcbzu9 (Lowpad Carrier Board) without PL
 *
 * (C) Copyright 2022, Topic Embedded Products BV
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

#include "zynqmp-topic-miamiplusmp.dts"

/ {
	aliases {
		ethernet0 = &gem2;
		ethernet1 = &gem1;
		ethernet2 = &gem0;
	};
};

/* SD1 to SD-card, fixed 3v3 level shifter */
&sdhci1 {
	status = "okay";
	bus-width = <4>;
	xlnx,mio_bank = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhci1_default>;
	/* Use GPIO based card detect */
	cd-gpios = <&gpio 45 GPIO_ACTIVE_LOW>;
	disable-wp;
	no-1-8-v; /* no 1v8/3v3 selection hence limited to high-speed */
};

&i2c0 {
	/* Devices on this bus depend on the level shifters being enabled, so we
	 * have to wait until the FPGA has been programmed */
	status = "disabled";
	/* USB hub has max 100kHz frequency, so that's the max speed for this bus */
	clock-frequency = <100000>;

	/* USB hub, 0x2d */
	usbhub@2d {
		compatible = "microchip,usb5807";
		reg = <0x2d>;
		reset-gpios = <&gpio 42 GPIO_ACTIVE_LOW>;
		swap-dx-lanes = <0>; /* Swap D+/D- on upstream port */
		upstream-port = <0>;
	};

	/* EEPROM @ 0x50 : M24C32-RMN6TP 32 Kbit */
	eeprom@50 {
		compatible = "atmel,24c32";
		reg = <0x50>;
		pagesize = <32>;
		#address-cells = <1>;
		#size-cells = <1>;
		vcc-supply = <&reg_1v8_miami>;
	};

	/* Real time clock, 0x51 */
	rtc@51 {
		compatible = "nxp,pcf85263";
		reg = <0x51>;
		#clock-cells = <0>;
		wakeup-source; /* Can power up the board */
	};

	/* PCIe Packet switch, E 0x6f */
};

/* USB0 not used */
&usb0 {
	status = "disabled";
};
&dwc3_0 {
	status = "disabled";
};

/* USB3 to HUB. Might be OTG since the HUB allows switching upstream port */
&usb1 {
	status = "disabled"; /* Need level shifter */
};
&dwc3_1 {
	status = "disabled"; /* Need level shifter */
	dr_mode = "host";
	/* refclk0 from clock synth */
	assigned-clocks = <&si5345 0 3>;
	assigned-clock-rates = <100000000>;
	phy-names = "usb3-phy";
	phys = <&psgtr 3 PHY_TYPE_USB3 1 0>;
	maximum-speed = "super-speed";
	snps,usb3_lpm_capable;
};

&pcie {
	status = "disabled"; /* Need level shifter */
	phys = <&psgtr 0 PHY_TYPE_PCIE 0 0>;
	/* refclk0 from clock synth */
	assigned-clocks      = <&si5345 0 3>;
	assigned-clock-rates =   <100000000>;
};

&gpio {
	usb-hub-flex-cmd {
		gpio-hog;
		gpios = <38 0>;
		input;
		line-name = "usb_hub_flex_cmd";
	};
	usb-hub-vbus-det {
		gpio-hog;
		gpios = <43 0>;
		input;
		line-name = "usb_hub_vbus_det";
	};
	pcie-pwr-sav {
		gpio-hog;
		gpios = <111 0>; /* EMIO 33 */
		output-low;
		line-name = "pcie_pwr_sav";
	};
	nreset-ftdi {
		gpio-hog;
		gpios = <116 0>; /* EMIO 38 */
		output-high;
		line-name = "nreset_ftdi";
	};
};

/* Don't use the ZynqMP RTC, there's an I2C RTC on the carrier */
&rtc {
	status = "disabled";
};

&si5345 {
	/* Configure PLL for audio */
	assigned-clock-parents = <0>, <0>, <0>, <0>, <0>,
				<&si5345 1 0>, /* out 0 */
				<&si5345 1 0>,
				<&si5345 1 0>,
				<&si5345 1 0>,
				<&si5345 1 0>,
				<&si5345 1 0>, /* out 5 */
				<&si5345 1 0>,
				<&si5345 1 1>, /* out 7 */
				<&si5345 1 0>,
				<&si5345 1 0>;
	assigned-clock-rates =	<1000000000>, /* synth 0 */
				< 393216000>, /* 48000 * 8192 for audio */
				<0>,
				<0>,
				<0>,
				<100000000>, /* out 0 */
				<100000000>,
				<125000000>,
				<100000000>,
				<100000000>,
				< 25000000>, /* out 5 (ethernet) */
				<100000000>,
				< 98304000>, /* out 7 (Audio MCLK) */
				<100000000>, /* out 8 (PS refclk3) */
				<100000000>;
	out@7 {
		silabs,synth-master; /* Allow changing PLL frequency */
	};
	out@8 {
		/delete-property/ always-on;
	};
};

/* GEM 1 is connected from PS to switch directly using SGMII. MDIO to switch. */
&gem1 {
	status = "disabled"; /* Some parts connected through PL */
	phy-mode = "sgmii";
	phys = <&psgtr 1 PHY_TYPE_SGMII 1 1>; /* Lane 1 refclk 1 */
	/* Need 125MHz GT clock (Xilinx drivers lack proper clk support) */
	assigned-clocks = <&si5345 0 2>;
	assigned-clock-rates = <125000000>;
};

/* Remove the TSU clock, we use clock 7 for audio */
&gem2 {
	/* Need 25MHz and 125MHz clocks (Xilinx drivers lack proper clk support) */
	assigned-clocks      = <&si5345 0 5>, <&si5345 0 2>;
	assigned-clock-rates =    <25000000>,   <125000000>;
	/* Revert TSU clock (copied from zynqmp-clk-ccf.dtsi) */
	clocks = <&zynqmp_clk LPD_LSBUS>, <&zynqmp_clk GEM2_REF>,
		 <&zynqmp_clk GEM2_TX>, <&zynqmp_clk GEM2_RX>,
		 <&zynqmp_clk GEM_TSU>;
};

&pinctrl0 {
	status = "okay";

	pinctrl_sdhci1_default: sdhci1-sd-default {
		/* SD using pins 46 .. 51 in 4-bit mode */
		mux {
			groups = "sdio1_2_grp";
			function = "sdio1";
		};
		conf {
			groups = "sdio1_2_grp";
			slew-rate = <SLEW_RATE_FAST>;
			io-standard = <IO_STANDARD_LVCMOS18>;
			bias-disable;
		};

		/* Card detect on pin 45 */
		mux-cd {
			groups = "gpio0_45_grp";
			function = "gpio0";
		};
		conf-cd {
			groups = "gpio0_45_grp";
			bias-high-impedance;
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
			bias-pull-up;
		};
	};
};
